.vertical-line {
    border-left: 2px solid #f2f2f2;
    height: 60px;
  }
  nav {
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 2;
  }
  .nav-delivery > h5 {
    font-weight: 900;
    margin-top: 10px;
  }
  .nav-delivery > p {
    font-size: 13px;
  }
  #my-nav-search {
    background-color: #f8f8f8f8;
    border-radius: 10px;
    border: 1px solid #f2f2f2;
    padding-inline: 10px;
  }
  
  #my-nav-search > input {
    border: none;
    width: 45vw;
    height: 50px;
    background-color: transparent;
  }
  
  .my-cart-btn {
    border-radius: 9px !important;
    background-color: rgb(12, 131, 31);
    color: white;
    font-weight: 600;
  }
  
  #categories-1 {
    display: flex;
    flex-wrap: wrap;
    padding-inline: 7vw;
  }
  
  .scroll-container {
    width: 85vw;
    margin: auto;
  }

  /* ::-webkit-scrollbar{
    display: none;
}
   */
  
  .list {
    white-space: nowrap;
    overflow-x: scroll;
  }
  
  .list > img {
    display: inline-block;
    margin: 10px;
  }
  
  .catagory {
    width: 85vw;
    margin: auto;
    z-index: 1;
  }
  
  .my-card{
    width: 220px;
    box-sizing: border-box;
    padding: 9px;
    border-radius: 15px !important;
    white-space: wrap;
    display: inline-block !important;
    margin-inline:10px;
  }
  
  .my-card-text{
    margin:9px;
    flex-wrap: wrap;
  }
  
  .my-card>img{
    display: inline-block;
    margin: auto;
  }
  
  .time{
    font-size: 11px;
    font-weight: 700;
    background-color: #f2f2f2;
    color: rgb(54, 54, 54);
    width:fit-content;
    border-radius: 5px;
  }
  
  .product_weight{
    color:#666666;
    font-size: 13px;
  }
  .row-3>p{
   margin:0px;
  }
  
  .M{
    text-align: center;
    font-size:large;
    font-weight:700;
    margin-top: 10px;
  }
  footer{
    width: 85vw;
    margin: auto;
  }
  
  
  #my-footer-row-3{
    font-size: 15px;
    text-align: justify;
    color: #666666;
  }
  
  
  #my-footer-row-2{
    font-size: 13px;
    text-align: justify;
    color: #666666;
    display: flex;
   margin-top: 20px;
   margin-bottom: 20px;
  }
  #footer__row__2__col1{
    flex:1;
    padding-inline:10px;
   
  }
  #footer__row__2__col2{
    flex:1;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  #footer__row__2__col1>h6{
    color: #666666;
  }
  .some-box{
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: white;
    text-align: center;
    background-color: #213a50;
    font-size:medium
  }
  
  .some-box:hover{
    color: black;
    background-color: gray;
    box-shadow: 3px 3px 15px black;
  }
  
  
  #footer__row__2__col3{
    flex:1;
    display: flex;
    justify-content: space-between;
  }
  
  .social-icon{
    width: 50px;
    height: 50px;
    background-color: black;
    color: white;
    display: flex;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 50%;
  }
  .social-icon:hover{
    color: black;
    background-color: rgb(71, 99, 99);
    box-shadow: 3px 3px 15px black;
  }
  
  #my-footer-row-1{
    display: flex;
    margin-top: 30px;
  }
  
  
  #footer__table__1{
    flex: 2;
    width: 100%;
  }
  #footer__table__2{
    flex: 3;
    
  }
  
  table{
    width: 100%;
  }
  td{
    color: #666666;
    line-height: 30px;
  }
  td:hover{
    line-height: 30px;
    text-decoration: underline;
    cursor: pointer;
    color: rgb(34, 117, 28);
  }
  
  
  @media screen and (max-width:480px){
    #hero-section{
        display: none !important;
    }
    nav,#my-footer-row-1{
        flex-direction: column !important;
        align-items: center !important;
        margin: auto;
    }
    #my-footer-row-2,#footer__table__1,#footer__table__2,#footer__row__2__col2{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }
    td{
        padding-inline: 12px;
        text-align: center;
        font-size: 12px;
    }
    .some-box{
        margin-top: 10px;
    }
    #footer__row__2__col3{
        justify-content: space-between;
        width: 90vw;
        margin: auto;
        margin-top: 10px;
    }
    .vertical-line{
        display: none;
    }
    #my-nav-search{
        width: 90vw;
    }
    nav{
        padding-top: 20px;
        padding-bottom: 20px;
        position: static;
    }
  }
  
  .SS{
     display: inline-block;
     background-color: rgb(66, 148, 66);
     color: white;
     font-weight: 600;
     font-size: larger;
  }
  